# User Testing Report

User testing was conducted by Jesus Monsalve on 22 October, 2013 between the times of 8:25 and 9:00 with the following participants:

- Jillian Lim
- Mansura
- William Shaw

## Tasks

1. Enter Website and find the social media and click it.
2. Find information about the development of the Plate Tectonic Theory
3. Mobile experience of the website

---

## Individual Results & Observations

### Jillian Lim

- She knew where the social media was.
- It was easy to get to the information of development.
- Fix the navigation. 
- She liked the mobile version.
- Change the colour of the nav that you are in.
- Link the Name“Plate Tectonic” to the homepage.

### William Shaw

- Fix the Nav on mobile.
- Move the article layout so the image is on the right. Or It could wrap aroun the content.
- Nav bar is too large.
- When he looked for the “Development” article was a bit confused to know which one was it.


### Mansura Chowdhury

- She found the Social media easy.
- The H1 should be on the same indent.
- Highlight the page you are in.
- Change the tittle to the page name.
- Fix nav bar on mobile.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- None

### Serious, Causes Frustration, May Hinder Completion

- None

### Minor, Annoying, Won’t Hinder Completion

- Fix the Nav bar on mobile
- Rearrange the layout of the articles in development. Images should wrap or move to the left of the layout.
- Highlight the page you are in.
- Make the H1 into the name of the page you are in.