<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Plate Tectonics - Plate Tectonic theory explains earth plate’s movement; Ottawa, Canada</title>
	<link href="css/general.css" rel="stylesheet">
	<link href="css/grid.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Plate Tectonic theory we can understand the processes and consequences of the plates motion beneath the earth.">

	<!--Facebook-->
	<meta property="og:type" content="article">
	<meta property="og:tittle" content="Plate Tectonic Theory">
	<meta property="og:url" content="http://jesusmonsalve.github.io/large-data-website/">
	<!-- Image Size: minimum 200x200; preferred 1500x1500 -->
	<meta property="og:image" content="http://jesusmonsalve.github.io/large-data-website/img/facebook-metadata.jpg">
	<meta property="og:site_name" content="Plate Tectonic">
	<meta property="og:description" content="Plate Tectonic theory we can understand the processes and consequences of the plates motion beneath the earth.">

	<!--Twitter-->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:tittle" content="Plate Tectonic Theory">
	<meta property="twitter:url" content="http://fullurl.com/to-this-article.html">
	<!-- Image Size: 120x120 -->
	<meta property="twitter:image" content="http://jesusmonsalve.github.io/large-data-website/img/twitter-metadata.jpg">
	<meta property="twitter:site_name" content="Plate Tectonic">
	<meta property="twitter:description" content="Plate Tectonic theory we can understand the processes and consequences of the plates motion beneath the earth.">
</head>

<body id="top">

	<ul class="skiplinks">
		<li><a href="#main">SKip to Primary content</a></li>
		<li><a href="#navigation">SKip to navigation</a></li>
	</ul>
	

	<header role="banner" class="masthead clearfix"> 
		<h1><a href="index.html">PLATE TECTONIC</a></h1>
		
		<nav role="navigation" id="navigation" class="nav nav-top" data-state="collapsed">
			<ul>
				<li><a href="index.html" class="{% if page.url == '/index.html' %}current{% endif%}">Theory</a></li>
				<li><a href="development.html" class="{% if page.url == '/development.html' %}current{% endif%}">Development</a></li>
				<li><a href="plate-boundaries.html" class="{% if page.url == '/plate-boundaries.html' %}current{% endif%}">Plate Boundaries</a></li>
				<li><a href="plate-reconstruction.html" class="{% if page.url == '/plate-reconstruction.html' %}current{% endif%}">Plate Reconstruction</a></li>
			</ul>
		</nav>
	</header>

		
	{{content}}



	<footer> 
		<p class="copyright">©2013 All Rights Reserved.</p>
		<p role="contentinfo" class="info-source"><a href="http://en.wikipedia.org/wiki/Plate_tectonics#Types_of_plate_boundaries">Source: Wikipedia</a></p>
	</footer>

</body>
</html>
