<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Plate Tectonics - Plate Tectonic theory explains earth plate’s movement; Ottawa, Canada</title>
	<link href="css/general.css" rel="stylesheet">
	<link href="css/grid.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Plate Tectonic theory we can understand the processes and consequences of the plates motion beneath the earth.">
</head>

<body>

	<header> 
		<h1>PLATE TECTONIC</h1>
		
		<div class="searchbar"> 
			<label>Search</label>
			<input type="search" placeholder="Search">
		</div>
		
		<nav class="nav nav-top">
			<ul>
				<li><a href="index.html">Theory</a></li>
				<li><a href="development.html">Development</a></li>
				<li><a href="plate-boundaries.html">Plate Boundaries</a></li>
				<li><a href="plate-reconstruction.html">Plate Reconstruction</a></li>
			</ul>
		</nav>
	</header>
	
		
	{{content}}



	<footer> 
		<img src="img/i-facebook.svg" class="facebook i-16 i-32">
		<img src="img/i-twitter.svg" class="twitter i-16 i-32">
		
	</footer>

</body>
</html>
